@import 'comum';

@mixin tamanho_texto($tamanho) {
    font-size: $tamanho;
    font-weight: bold;
}

$primary-color: #6F4E37;
$secondary-color: #FFECD0;
$coffee1: #89664E;
$coffee2: #A47F66;
$coffee3: #C0997F;

body {
    color: $primary-color;
    background-color: $secondary-color;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-montar {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: $primary-color;
    display: flex;
    width: 100%;
    height: 80px;
}

.btn-header {
    background-color: transparent;
    border: none;
    color: $secondary-color;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    svg {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background-color: #6F4E37;
        color: white;
    }
}


.h-div {
    margin: 10px;
}

.header-text {
    color: $secondary-color;
    flex: 1;
}

#text-bemvindo {
    text-align: center;
    font-size: 1.3em;
}

#dropdown {
    position: absolute;
    display: none;
    background-color: $coffee3;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px 0;
    top: 100%;

    left: auto;

    right: 0;
    min-width: 160px;
    z-index: 1;

    li {
        display: block;
        text-align: left;
        padding: 10px 20px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $coffee2;
        }

        a {
            color: $secondary-color;
            text-decoration: none;
        }
    }
}

.nav-dropdown {
    position: relative;
    display: inline-block;

    &:hover {
        #dropdown {
            display: block;
        }
    }

    #dropdown:hover {
        display: block;
    }
}


#selecao-cafe {
    opacity: 0;
    width: fit-content;
}

/* Estilos para telas menores (mobile-first) */

form {
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: $coffee3;
    
}

fieldset {
    border: none;
    padding: 10px;
    margin: 0;

    legend {
        text-decoration: underline;
        text-align: start;
        font-size: 1.2em;
    }

    label {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;

        p {
            margin: 0;
            font-size: 1em;
        }

        img {
            width: 100%;
            max-width: 200px;
            height: auto;
        }
    }
}

.selecao-cafe {
    display: none;

    +label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 2px solid $primary-color;
            border-radius: 50%;
        }

        &::after {
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $primary-color;
            opacity: 0;
        }
    }

    &:checked+label::after {
        opacity: 1;
    }
}