body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2E9E4; 
}

header {
    background-color: #6E4A42; 
    color: white; 
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}



nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}


nav ul li a {
    border-radius: 50%;
    background-color: white;
    color: #6E4A42;
    padding: 10px 15px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}


nav ul li a:hover {
    background-color: #F2E9E4;
}


main {
    padding: 20px;
    text-align: center;
}

.sobre-nos, .grid-diferenciado {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 20px;
    text-align: left; 
}


.sobre-nos h2, .grid-diferenciado h2 {
    color: #6E4A42;
}


.grid-item img {
    max-width: 100%;
    margin-top: 10px;
}


.grid-item h3, .grid-item p {
    color: #333;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        justify-content: flex-start; 
    }

    nav ul li {
        margin-right: 10px; 
    }
}